body {
    color: #383838;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#home-header h1 {
    color: #fff;
}

.logo-color {
    color: #ffe642;
}

.vacancy-text p {
    font-size: 22px;
    padding-bottom: 10px;
}

.parallax-container {
    height: 140px;
}

.parallax img {
    display: block; transform: translate3d(-50%, 143px, 0px);
}

.main-nav li a {
    text-decoration: none;
}

.main-nav {
    text-decoration: none;
}

.main-nav li a:hover {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.ball-grid-pulse {
    background: orange;
}