<template name="addVacancy">
	<article class="container">
            <div class="row">
                <form id="addVacancy">
                    <div class="row">
                        <div class="col s12">
                            <h3 class="center-align">Создайте свою вакансию</h3>
                        </div>
                        <div class="col s6">
                            <h5>Название организации</h5>
                            <input type="text" id="firm_name" name="firm_name" placeholder="ИП Иванов" />
                            <h5>Название вакансии</h5>
                            <input type="text" id="job_name" name="job_name" placeholder="Программист" />
                            <h5>Требования</h5>
                            <textarea class="materialize-textarea" name="experience" id="experience" cols="30" rows="10" placeholder="Ваши требования для данной вакансии"></textarea>
                            <h5>Обязанности</h5>
                            <textarea class="materialize-textarea" name="about" id="about" cols="30" rows="10" placeholder="Обязанности данной вакансии"></textarea>
                            <h5>Условия</h5>
                            <textarea class="materialize-textarea" name="aboutJob" id="aboutJob" cols="30" rows="30" placeholder="Опишите ваши условия"></textarea>
                        </div>
                        <div class="col s6">
                            <h5>Номер телефона</h5>
                            <input type="tel" maxlength="10" id="tel" name="tel" placeholder="9101234567" />
                            <h5>Email</h5>
                            <input type="email" id="email" name="email" placeholder="contact@ivan.com" />
                            <h5>Зарплата</h5>
                            <input type="text" name="money" id="money" placeholder="от 20 000 рублей" />
                            <h5>Дополнительная информация</h5>
                            <textarea class="materialize-textarea" name="more" id="more" cols="30" rows="10" placeholder="Укажите здесь все, что вы считаете необходимым"></textarea>
                        </div>
                        <div class="col s12 center-align">
                            <button class="waves-light waves-effect btn" type="submit">Разместить</button>
                        </div>
                    </div>
                </form>
            </div>
        </article>
</template>