<template name="showVacancy">
    <div class="container">
        <div class="resume">
            <header class="page-header">
                <h4 class="page-title">Вакансия: {{jobName}}<br />{{firmName}}</h4>
                <small> <i class="fa fa-clock-o"></i> Последнее обновление: <time>{{date.toLocaleString}}</time></small>
            </header>
            <div class="row flow-text">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="panel panel-default">
                        <div class="bs-callout bs-callout-danger">
                            <div class="panel-heading resume-heading">
                                <h4>Основная информация:</h4>
                                <p>
                                    <ul class="list-group">
                                        <li class="list-group-item">Работодатель: {{firmName}}</li>
                                        <li class="list-group-item">Вакансия: {{jobName}}</li>
                                        <li class="list-group-item">Уровень зарплаты: {{money}}</li>
                                        <li class="list-group-item"><i class="fa fa-phone"></i> +7 {{tel}} </li>
                                        <li class="list-group-item"><i class="fa fa-envelope"></i> {{email}}</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Обязанности:</h4>
                            <p>{{about}}</p>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Требования</h4>
                            <p>{{experience}}</p>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Условия:</h4>
                            <p>{{aboutJob}}</p>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Уровень зарплаты:</h4>
                            <p class="money">{{money}}</p>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Дополнительная информация:</h4>
                            <p>{{more}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>