<template name="footer">
	<footer class="page-footer teal lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="flow-text white-text">Найди свою работу на <span class="logo-color">Job</span>Finder.ru</h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">О нас</h5>
                        <p>Сайт для поиска вакансий и резюме</p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container center-align">
                    © 2015 Copyright fruitDev
                </div>
            </div>
        </footer>
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible({
                    accordion: true
                });

                $('.parallax').parallax();
            });
        </script>
</template>