<template name="addResume">
    <article class="container">
        <div class="row">
            <form id="addResume">
                <div class="row">
                    <div class="col s12">
                        <h3 class="center-align">Заполните свое резюме</h3>
                    </div>
                    <div class="col s6">
                        <h5>ФИО</h5>
                        <input type="text" id="full_name" name="full_name" placeholder="Иванов Иван Иванович" />
                        <h5>Дата рождения</h5>
                        <input type="date" id="birth_date" name="birth_date" />
                        <h5>Образование</h5>
                        <input type="text" id="education" name="education" placeholder="Высшее (МГУ) Математический факультет" />
                        <h5>Опыт работы</h5>
                        <textarea class="materialize-textarea" name="experience" id="experience" cols="30" rows="10" placeholder="Опишите подробно свой опыт"></textarea>
                        <h5>Ваши навыки</h5>
                        <textarea class="materialize-textarea" name="about" id="about" cols="30" rows="10" placeholder="Опишите ваши навыки"></textarea>
                    </div>
                    <div class="col s6">
                        <h5>Желаема должность</h5>
                        <input type="text" id="job_name" name="job_name" placeholder="Дизайнер" />
                        <h5>Желаемый уровень зарплаты</h5>
                        <input type="text" id="job_money" name="job_money" placeholder="50 000 рублей" />
                        <h5>Номер телефона</h5>
                        <input type="tel" maxlength="10" id="tel" name="tel" placeholder="9101234567" />
                        <h5>Email</h5>
                        <input type="email" id="email" name="email" placeholder="contact@ivan.com" />
                        <h5>Дополнительная информация</h5>
                        <textarea class="materialize-textarea" name="more" id="more" cols="30" rows="10" placeholder="Укажите здесь все, что вы считаете необходимым"></textarea>
                    </div>
                    <div class="col s12 center-align">
                        <button class="waves-light waves-effect btn" type="submit">Разместить</button>
                    </div>
                </div>
            </form>
        </div>
    </article>
</template>